@charset "utf-8";

/* ===============================
ヘッダー
=============================== */
header {
    margin: 10px 0;

    nav {
        max-width: 1280px;
        margin: 0 auto;

        ul {
            display: flex; flex-wrap: wrap; align-items: center;

            li {
                a {
                    position: relative; display: block; margin: 0 1px; padding: $_ * 4; cursor: pointer; transition: 0.3s;

                    &::after {
                        display: block; width: 100%; height: 2px; background-color: $bk; transition: 0.3s; content: "";
                    }

                    &:hover {
                        color: darken($gy, 30%);

                        &::after {
                            background-color: darken($gy, 30%);
                        }
                    }

                    img {
                        width: auto;
                        height: 40px;
                    }
                }
                span{
                    position: relative; display: block; margin: 0 1px; padding: $_ * 4; color: $gd;
                    &::after {
                        display: block; width: 100%; height: 2px; background-color: $ye; transition: 0.3s; content: "";
                    }
                    @include MQ(M){padding: $_ * 2;}
                }
                &:first-child {
                    margin-right: auto;

                    a {
                        position: static; display: block;

                        &::after {
                            display: none; content: "";
                        }
                    }
                }
            }

            @include MQ(M) {
                justify-content: space-around;

                li {
                    &:first-child {
                        display: block; width: 100%; font-weight: bold; text-align: center;
                    }

                    a {
                        @include fz(14); padding: $_ * 2;
                    }
                }
            }
        }
    }
}

/* ===============================
フッター
=============================== */
footer {
    margin-top: $_ * 18; padding: $_ * 10 0; color: #FFF; text-align: center; background: $gd;
}
body {
    color: $bk; background-image: url(/common/images/bg.png); background-repeat: repeat;
}

li {
    list-style: none;
}

a {
    color: $bk; text-decoration: none;
}

p {
    line-height: 2;

    + p {
        padding-top: 1em;
    }

    @include MQ(S) {
        @include fz(14);
    }
}

img {
    width: 100%;
}

dl {
    dt,
    dd {
        line-height: 2;
    }
}
/* ===============================
ページトップへ戻る
=============================== */
.page_top {
    position: fixed; right: $_ * 4; bottom: $_ * 4; z-index: 100;

    a {
        span {
            position: relative; display: inline-block; padding: 20px; text-align: center; background-color: #DDD; border-radius: 50%; transition: all 0.5s;

            &::before {
                position: absolute; top: 10px; left: calc(50% - 6px); border-top: transparent; border-right: 5px solid transparent; border-bottom: 10px solid $bk; border-left: 5px solid transparent; content: "";
            }
        }

        &:hover span {
            color: #FFF; background-color: $bk;

            &::before {
                border-bottom: 10px solid #FFF;
            }
        }
    }
}

/* ===============================
ボタン装飾
=============================== */
.btn_box {
    a {
        position: relative; z-index: 2; display: inline-block; box-sizing: border-box; padding: 10px 25px; overflow: hidden; border-bottom: 2px solid $bk; transition: all 0.5s;

        &::after {
            position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 100%; background-color: $bk; transform: translateY(100%); transition: all 0.5s; content: "";
        }

        &:hover {
            color: #FFF;

            &::after {
                transform: translateY(0%);
            }
        }
    }

    @include MQ(S) {
        a {
            padding: 0 25px;
        }
    }
}

.wbl_btn {
    position: relative; display: inline-block;

    &:hover {
        span {
            display: block; animation: wobbleud 0.8s linear infinite;
        }

        @keyframes wobbleud {
            0% { transform: translateY(0);}
            25% { transform: translateY(-5px);}
            75% { transform: translateY(5px);}
            100% { transform: translateX(0);}
        }
    }
}
