@charset "utf-8";

@import "mixin";
@import "ress";
@import "_common";
.style_page{
    /* ===============================
    タイトル部分
    =============================== */
    .mv {
        max-width: 1280px;
        margin: 0 auto;
        .lead_block{
            background-color: $lye; text-align: center; padding: 60px 0;
            h1{
                // height: 60px;
                img{
                    display: inline-block; height: 60px; width: auto;
                }
            }
        }
    }
    .inner {
        max-width: 1280px;
        margin: 0 auto;
        h2{
            text-align: center; margin-top:$_*15;
            img{
                height: 42px;width: auto;
                &:nth-of-type(2){height: 30px;}
            }
        }
    }
    /* ===============================
    イラストブロック
    =============================== */
    .illust_bl{
        .inner{
            .ie_box,.soto_box{
                position: relative; background-position: center; padding-bottom: 46.875%;min-height: 600px; margin: 0 auto;
                @include MQ(M){
                    position: static; background-image: none; background-color: $lye; padding:$_*6;
                }
                .img_txt{
                    width: auto; height: 80px; position:absolute;
                    @include MQ(M){
                        position: static;margin-bottom:$_*4;
                    }
                }
            }
            .ie_box{
                background-image: url(/style/images/bg_ie.png);
                .img_txt{
                    top: 10%; left: 10%;
                }
            }
            .soto_box{
                background-image: url(/style/images/bg_soto.png);
                .img_txt{
                    top: 10%; left: 10%;
                }
            }
            /* ===============================
            モーダルボタン
            =============================== */
            .modal{
                display: inline-block; position: absolute; cursor: pointer;
                img{transition:.3s;}
                &:hover img{margin-top:-5px;}
                &.btn_style_01{top: 50%;left: 61%;}
                &.btn_style_02{top: 34%;left: 22%;}
                &.btn_style_03{top: 5%;left: 30%;}
                &.btn_style_04{top: 40%;left: 20%;}
                &.btn_style_05{top: 50%;left: 65%;}
                &.pc{
                    @include MQ(M){display: none;}
                }
                &.sp{
                    display: none;
                    @include MQ(M){
                        position: static; display: block; min-width: 220px; margin: 0 auto;
                        &:hover img{margin-top:0;}
                    }
                }
            }
            .modal_content{
                display: none;
            }
        }
    }
    /* ===============================
    モーダル コンテンツ
    =============================== */
    .modaal-container{
        max-width:768px; width: 100%;
        .modaal-content-container{
            padding: $_*8;
            .in_box{
                .m_subttl{
                    text-align: center; font-size: 26px; color:$gd; font-weight: 700;
                }
                img + p{
                text-align: center; margin-top: $_*4;
                }
                h3{
                    text-align: center;
                    img{
                        width:auto; height: $_*6;
                    }
                }
                .m_disc,.m_recommend{
                    margin-top: $_*4;
                }
                .m_recommend{
                    display: flex;
                    flex-wrap: wrap;
                    dt{
                        font-weight: 700;color:darken($gd,15%);
                    }
                    .book_list{
                        margin-top: $_*4;
                        ul{
                            span{
                                position: relative; padding:0 1em; font-weight: 700;color:darken($gd,15%);
                                &:before{position: absolute;content:'・';left:0;}
                            }
                        }
                    }
                }
            }
        }
    }
    .modaal-close {
        top: auto; right:50%;
        @include MQ(M){
            top: auto;right: 40px;bottom: 40px;position: fixed;
            &:before,&:after{background: $gd;}
        }
    }
    /* ===============================
    読書スタイル診断
    =============================== */
    .chart_bl{
        h2{
            img{
                @include MQ(M){
                max-height: 30px;
            }
        }
        + img{
                margin-top:$_*4;
            }
        }
    }
}//style_page
