@charset "utf-8";
@import "mixin";
@import "ress";

body{
    color: $bk;
    background-image: url(/common/images/bg.png);
    background-repeat: repeat;
}
li{
    list-style: none;
}
a{
    color: $bk; text-decoration: none;
}
p{
    line-height: 2;
    +p{
        padding-top: 1em;
    }
    @include MQ(S){
        @include fz(14);
    }
}
img{width:100%;}
dl{
    dt,dd{line-height: 2;}
}

/*===============================
ヘッダー
===============================*/
header{
    margin:10px 0;
    nav{
        max-width: 1280px; margin:0 auto;
        ul{
            display: flex; flex-wrap: wrap; align-items: center;
            li{
                a{
                    display:block; padding:$_*4; margin:0 1px; cursor: pointer; position: relative; transition: .3s;
                    &:after{
                        content: ""; width:100%; height: 2px; background-color: $bk; display: block;transition: .3s;
                    }
                    &:hover{
                        color: darken($gy,30%);
                        &:after{
                            background-color: darken($gy,30%);
                        }
                    }
                    img{
                        height: 40px; width: auto;
                    }
                }
                &:first-child{
                    margin-right: auto;
                    a{
                        display:block; position: static;
                        &:after{
                            content: ""; display: none;
                        }
                    }
                }
            }
            @include MQ(M) {
                justify-content: space-around;
                li{
                    &:first-child{
                        font-weight: bold; display: block; width:100%; text-align: center;
                    }
                    a{@include fz(14); padding:$_*2;}
                }
            }
        }
    }
}
/*===============================
フッター
===============================*/
footer{
    margin-top:$_*18; padding:$_*10 0; text-align: center; background: $gd; color:#fff;
}

/*===============================
メインビジュアル
===============================*/
#mv{
    background-image:url(/common/images/top/mv.png);
    max-width: 1280px; margin: 0 auto;
    padding-top: 700px;
    background-size: cover;
    position: relative;
    @include MQ(L) {padding-top: 500px;}
    .lead_block{
        position: absolute; top:20%; text-align: right; right:220px; width: 100%;
        @include MQ(L) {right:80px;}
        img{
            max-width: 300px; margin-bottom: $_*12;
        }
    }
    @include MQ(M) {
        padding-top: 360px; margin-top:220px;
        .lead_block{
            width:100%; top:-200px; right:0; padding:20px 20px 0 0  ; background-color: $lye;
            img{margin-bottom: $_*4;}
        }
    }
}
/*===============================
top コンテンツ
===============================*/
.ctg{
    .inner{
        max-width: 1280px; margin: 0 auto;
        @include MQ(M) {padding: $_*12 $_*3 0;}
        @include MQ(S) {padding: $_*6 $_*3 0;}
        .content{
            padding: $_*12 0;
            @include MQ(L) {padding:$_*12 $_*4;}
            @include MQ(M) {padding:$_*6 0;}
        }
    }
    .ttl_block{
        padding-top:$_*16; text-align: center;
        @include MQ(M) {padding-top: 0;}
        h2{
            img{
                height: 60px; width: auto;
                @include MQ(M) {height: 40px; width: auto;}
            }
        }
    }
    // ===============================
    //STYLE
    &.style{
        .content{
            text-align: center;
            ul{
                display: flex; justify-content: space-around; align-items: center;
                li{
                    width:calc(100 / 3);
                }
                @include MQ(M) {
                    flex-wrap: wrap;
                    li{
                        &:nth-child(1),&:nth-child(3){
                            width:50%;
                            a img{
                                height: 40px; width: auto;
                            }
                        }
                        &:nth-child(2){
                            order: 2; width:60%; margin:$_*4 auto 0;
                        }
                    }
                }
                @include MQ(S) {
                    li{
                        &:nth-child(1),&:nth-child(3){
                            a img{
                                height: 30px; width: auto;
                            }
                        }
                    }
                }
            }
            p{
                margin-top:$_*12;
                @include MQ(M) {margin-top:$_*6;}
                @include MQ(S) {margin-top:$_*4;}
            }
            .btn_box{
                margin:$_*16 0;
                @include MQ(M) {margin:$_*10 0;}
                @include MQ(S) {margin:$_*4 0;}
            }
        }
    }
    // ===============================
    //OTOMO
    &.otomo{
        background-color: $gy;
        .itemlist{
            display: flex; text-align: left; justify-content: space-around;
            li{
                width:30%;
                dl{
                    dd{
                        margin-top: $_*2;
                        &:nth-of-type(2){
                            padding: 0 10px 10px;
                        }
                        &:last-child{
                            margin-top: $_*8; text-align: center;
                        }
                    }
                }
            }
            @include MQ(M) {
                display: block;
                li{
                    width:80%; margin: 0 auto 40px;
                    dl dd:last-child{
                        margin-top: $_*2;
                    }
                }
            }
            @include MQ(S){
                li{
                    width:100%; padding: 0 $_*3;
                }
            }
        }
    }
    // ===============================
    //BOOKSHELF
    &.bookshelf{
        .booklist{
            padding-left:calc(100% / 3);
            background-image: url(/common/images/top/pic-2.png);
            background-repeat: no-repeat; background-size: auto; background-position: 6% 0;
            li{
                dl{
                    display: flex;
                    dt{
                        width:50%; font-weight: bold;
                    }
                    dd{
                        width:25%;
                    }
                }
                +li{margin-top:20px;}
            }
            @include MQ(L){
                background-size:220px;
            }
            @include MQ(M){
                padding:150px 0 0;
                background-position: top center; background-size: 200px;
                li{
                    width:80%; margin: 0 auto;
                    dl{
                        flex-wrap: wrap;
                        dt{
                            width:100%;
                        }
                        dd{
                            &:first-child{width:40%;}
                            &:last-child{width:60%;}
                        }
                    }
                }
            }
            @include MQ(S){
                li{
                    width:100%; padding: 0 $_*3;
                }
            }
        }
        .btn_box{
            margin:$_*16 0; text-align: center;
            @include MQ(M) {margin:$_*10 0;}
            @include MQ(S) {margin:$_*4 0;}
        }
    }
    // ===============================
    //PROFILE
    &.profile{
        padding: 0 $_*4;
        .inner{
            border: 1px solid $ye; padding: $_*12;
            display: flex;
            img{
                width: auto;
                height: 180px;
            }
            dl{
                margin-left:40px;
                dt{
                    font-weight: bold;
                }
                dd{
                    &:last-child{
                        margin-top:$_*2;
                    }
                }
            }
        }
        @include MQ(L){
            .inner{
                padding: $_*6;
            }
        }
        @include MQ(S) {
            .inner{
                flex-direction: column;
                img{
                    width: auto; max-width: 180px; margin: 0 auto; height: 180px;
                }
                dl{
                    margin-left:0;
                }
            }
        }
    }
}

/*===============================
ページトップへ戻る
===============================*/
.page_top{
    position: fixed; bottom: $_*4; right: $_*4; z-index: 100;
    a{
        span{
            background-color: #ddd; padding: 20px; border-radius: 50%; transition: all 0.5s; text-align: center;
            display: inline-block; position: relative;
            &:before{
                position: absolute;
                content: '';
                border-top: transparent;
                top: 10px;
                border-right: 5px solid transparent;
                border-bottom: 10px solid $bk;
                border-left: 5px solid transparent;
                left:calc(50% - 6px);
            }
        }
        &:hover span{
            color: #fff; background-color: $bk;
            &:before{
                border-bottom: 10px solid #fff;
            }
        }
    }
}
/*===============================
ボタン装飾
===============================*/
.btn_box{
    a{
        transition: all 0.5s; padding: 10px 25px; display: inline-block; border-bottom: 2px solid $bk; position: relative; box-sizing: border-box; overflow: hidden; z-index:2;
        &:after{
            content:""; z-index:-1; transition: all 0.5s; position: absolute; top: 0;left: 0; width: 100%;height: 100%; background-color:$bk; transform: translateY(100%);
        }
        &:hover{
            color: #fff;
            &:after{
                transform: translateY(0%);
            }
        }
    }
    @include MQ(S){
        a{
            padding: 0 25px;
        }
    }
}
.wbl_btn{
    display: inline-block; position: relative;
    &:hover {
        span{ display: block;
            animation: wobbleud 0.8s linear infinite;
        }
        @keyframes wobbleud{
            0%{transform: translateY(0);}
            25%{transform: translateY(-5px);}
            75%{transform: translateY(5px);}
            100%{transform: translateX(0);}
        }
    }
}