@charset "utf-8";

@import "mixin";
@import "ress";
@import "_common";

/* ===============================
メインビジュアル
=============================== */
.mv {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 700px;
    background-image: url(/common/images/top/mv.png);
    background-size: cover;

    @include MQ(L) {
        padding-top: 500px;
    }

    .lead_block {
        position: absolute;
        top: 20%;
        right: 220px;
        width: 100%;
        text-align: right;

        @include MQ(L) {
            right: 80px;
        }

        img {
            max-width: 300px;
            margin-bottom: $_ * 12;
        }
    }

    @include MQ(M) {
        margin-top: 220px;
        padding-top: 360px;

        .lead_block {
            top: -200px;
            right: 0;
            width: 100%;
            padding: 20px 20px 0 0;
            background-color: $lye;

            img {
                margin-bottom: $_ * 4;
            }
        }
    }
}

/* ===============================
top コンテンツ
=============================== */
.ctg {
    .inner {
        max-width: 1280px;
        margin: 0 auto;

        @include MQ(M) {
            padding: $_ * 12 $_ * 3 0;
        }

        @include MQ(S) {
            padding: $_ * 6 $_ * 3 0;
        }

        .content {
            padding: $_ * 12 0;

            @include MQ(L) {
                padding: $_ * 12 $_ * 4;
            }

            @include MQ(M) {
                padding: $_ * 6 0;
            }
        }
    }

    .ttl_block {
        padding-top: $_ * 16;
        text-align: center;

        @include MQ(M) {
            padding-top: 0;
        }

        h2 {
            img {
                width: auto;
                height: 60px;

                @include MQ(M) {
                    width: auto;
                    height: 40px;
                }
            }
        }
    }
    // ===============================
    //STYLE
    &.style {
        .content {
            text-align: center;

            ul {
                display: flex;
                justify-content: space-around;
                align-items: center;

                li {
                    width: calc(100 / 3);
                }

                @include MQ(M) {
                    flex-wrap: wrap;

                    li {
                        &:nth-child(1),
                        &:nth-child(3) {
                            width: 50%;

                            a img {
                                width: auto;
                                height: 40px;
                            }
                        }

                        &:nth-child(2) {
                            order: 2;
                            width: 60%;
                            margin: $_ * 4 auto 0;
                        }
                    }
                }

                @include MQ(S) {
                    li {
                        &:nth-child(1),
                        &:nth-child(3) {
                            a img {
                                width: auto;
                                height: 30px;
                            }
                        }
                    }
                }
            }

            p {
                margin-top: $_ * 12;

                @include MQ(M) {
                    margin-top: $_ * 6;
                }

                @include MQ(S) {
                    margin-top: $_ * 4;
                }
            }

            .btn_box {
                margin: $_ * 16 0;

                @include MQ(M) {
                    margin: $_ * 10 0;
                }

                @include MQ(S) {
                    margin: $_ * 4 0;
                }
            }
        }
    }
    // ===============================
    //OTOMO
    &.otomo {
        background-color: $gy;

        .itemlist {
            display: flex;
            justify-content: space-around;
            text-align: left;

            li {
                width: 30%;

                dl {
                    dd {
                        margin-top: $_ * 2;

                        &:nth-of-type(2) {
                            padding: 0 10px 10px;
                        }

                        &:last-child {
                            margin-top: $_ * 8;
                            text-align: center;
                        }
                    }
                }
            }

            @include MQ(M) {
                display: block;

                li {
                    width: 80%;
                    margin: 0 auto 40px;

                    dl dd:last-child {
                        margin-top: $_ * 2;
                    }
                }
            }

            @include MQ(S) {
                li {
                    width: 100%;
                    padding: 0 $_ * 3;
                }
            }
        }
    }
    // ===============================
    //BOOKSHELF
    &.bookshelf {
        .booklist {
            padding-left: calc(100% / 3);
            background-image: url(/common/images/top/pic-2.png);
            background-repeat: no-repeat;
            background-position: 6% 0;
            background-size: auto;

            li {
                dl {
                    display: flex;

                    dt {
                        width: 50%;
                        font-weight: bold;
                    }

                    dd {
                        width: 25%;
                    }
                }

                + li {
                    margin-top: 20px;
                }
            }

            @include MQ(L) {
                background-size: 220px;
            }

            @include MQ(M) {
                padding: 150px 0 0;
                background-position: top center;
                background-size: 200px;

                li {
                    width: 80%;
                    margin: 0 auto;

                    dl {
                        flex-wrap: wrap;

                        dt {
                            width: 100%;
                        }

                        dd {
                            &:first-child {
                                width: 40%;
                            }

                            &:last-child {
                                width: 60%;
                            }
                        }
                    }
                }
            }

            @include MQ(S) {
                li {
                    width: 100%;
                    padding: 0 $_ * 3;
                }
            }
        }

        .btn_box {
            margin: $_ * 16 0;
            text-align: center;

            @include MQ(M) {
                margin: $_ * 10 0;
            }

            @include MQ(S) {
                margin: $_ * 4 0;
            }
        }
    }
    // ===============================
    //PROFILE
    &.profile {
        padding: 0 $_ * 4;

        .inner {
            display: flex;
            padding: $_ * 12;
            border: 1px solid $ye;

            img {
                width: auto;
                height: 180px;
            }

            dl {
                margin-left: 40px;

                dt {
                    font-weight: bold;
                }

                dd {
                    &:last-child {
                        margin-top: $_ * 2;
                    }
                }
            }
        }

        @include MQ(L) {
            .inner {
                padding: $_ * 6;
            }
        }

        @include MQ(S) {
            .inner {
                flex-direction: column;

                img {
                    width: auto;
                    max-width: 180px;
                    height: 180px;
                    margin: 0 auto;
                }

                dl {
                    margin-left: 0;
                }
            }
        }
    }
}

/* ===============================
ページトップへ戻る
=============================== */
.page_top {
    position: fixed;
    right: $_ * 4;
    bottom: $_ * 4;
    z-index: 100;

    a {
        span {
            position: relative;
            display: inline-block;
            padding: 20px;
            text-align: center;
            background-color: #DDD;
            border-radius: 50%;
            transition: all 0.5s;

            &::before {
                position: absolute;
                top: 10px;
                left: calc(50% - 6px);
                border-top: transparent;
                border-right: 5px solid transparent;
                border-bottom: 10px solid $bk;
                border-left: 5px solid transparent;
                content: "";
            }
        }

        &:hover span {
            color: #FFF;
            background-color: $bk;

            &::before {
                border-bottom: 10px solid #FFF;
            }
        }
    }
}

/* ===============================
ボタン装飾
=============================== */
.btn_box {
    a {
        position: relative;
        z-index: 2;
        display: inline-block;
        box-sizing: border-box;
        padding: 10px 25px;
        overflow: hidden;
        border-bottom: 2px solid $bk;
        transition: all 0.5s;

        &::after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            background-color: $bk;
            transform: translateY(100%);
            transition: all 0.5s;
            content: "";
        }

        &:hover {
            color: #FFF;

            &::after {
                transform: translateY(0%);
            }
        }
    }

    @include MQ(S) {
        a {
            padding: 0 25px;
        }
    }
}

.wbl_btn {
    position: relative;
    display: inline-block;

    &:hover {
        span {
            display: block;
            animation: wobbleud 0.8s linear infinite;
        }

        @keyframes wobbleud {
            0% {
                transform: translateY(0);
            }

            25% {
                transform: translateY(-5px);
            }

            75% {
                transform: translateY(5px);
            }

            100% {
                transform: translateX(0);
            }
        }
    }
}
